:root {
	--main_red: #FA0105;
	--main_white: #fff;
	--main_black: #000;
	--main_font: 'Montserrat', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	color: var(--main_black);
	font-family: var(--main_font);
	font-weight: 400;
	font-size: 100%;
	line-height: 1.5rem;
	letter-spacing: .1rem;
	overflow-x: hidden;
	box-sizing: border-box;
}


main.desktop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

h1 {

	height: 4.7vw;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #000;
}

.container {
	width: 75vw;
	height: 100vh;
	margin: 0 auto;
}

ul {
	list-style: none;
	display: flex;
}

li {
	list-style: none;
}

.grid {
	display: grid;
}

section {
	height: 100vh;
	position: relative;
	box-sizing: border-box;
}

#eclipse {
	display: none;
	position: absolute;
	z-index: 998;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, .4);
}

#eclipse.active {
	display: flex;
}

.background-animation {
	display: flex;
	width: 100vw;
	height: 0;
	position: absolute;
	top: 0;
	z-index: 1;
	transition: height 1s ease 1s;
}

/* #background-animation.white .line {
	border-color:  rgba(255, 255, 255, 0.08);
} */

.background-animation .line {
	width: 12.5%;
	height: 100%;
	border-right: 1px ridge #ddd;
	transition: border 2s;
	z-index: 1;
}

.background-animation.white .line {
	/* animation: changeLinesColor 2s; */
	border-color: rgba(255, 255, 255, 0.08);
}

.background-animation.active {
	height: 100vh;
	position: absolute;
	box-sizing: border-box;
}

#background-animation {
	display: flex;
	width: 100vw;
	transition: height 10s ease 1s;
	height: 0;
	position: absolute;
	z-index: 1;
}

#background-animation .line {
	width: 12.5%;
	height: 100%;
	border-right: 1px ridge #ddd;
	z-index: 1;
}

@keyframes changeLinesColor {
	0% {
		border-color: #ddd;
	}
	100%{
		border-color: black;
	}
}
.navigator {
	flex-direction: column;
	align-items: center;
	position: fixed;
	width: 10vw;
	height: 30vh;
	top: calc(50% - 15vh);	
	right: 1%;
	z-index: 100;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 1.2vw;
	font-weight: 600;
	padding-left: 0;
	box-sizing: border-box;
}

.navigator.curtain:after, .navigator.prevent_click:after  {
	content: '';
	position: absolute;
	left: 0;
	width: 85%;
	height: 100%;
	background-color:transparent
}

.navigator.prevent_click:after {
	width: 100%;
}



.navigator .nav-item {
	display: flex;
	justify-content:flex-end;
	align-items: center;
	width: 100%;
	transition: opacity .4s ease;
	position: relative;
	cursor: pointer;
}

.navigator .nav-item.show {
	cursor: pointer;
}

.navigator .nav-item a {
	font-size: 12px;
	width: 80%;
	transition: color .4s , opacity .4s;
	opacity: 0;
	text-align: right;
}
.navigator .nav-line:before {
	background-color:black;
}
.navigator.white .nav-line:before {
	background-color:white;
}

.navigator .nav-line {
	position: relative;
	margin-left: 5%;
	width: 10%;
	height: 100%;
	transition: width .5s;
}

.navigator .nav-line:hover + a{
	opacity: 1;
}

.navigator .nav-line:hover:before {
	/* background-color:red; */
}


.navigator .nav-item.show .nav-line  {
	width: 20%;
}

.navigator .nav-line:before {
	content: '';
	position: absolute;
	top: 50%;
	width: 100%;
	height: 1px;
	background-color: black;
}

.nav-item.active .nav-line{
	width: 20%;
}

.nav-item.active .nav-line:before {
	background-color: red;
}

.navigator .nav-item:before:hover{
	background-color: red;
}


.navigator .nav-item.active:before  {
	width: 30%;
	background-color: var(--main_red);
}

.nav-item.active a {
	color: black;
	position: relative;
	opacity: 1;
}

.nav-item.active a:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 0;
	height: 100%;
	/* background-color: white; */
	animation: showWord 1.5s ease;
}

.nav-item.show  a{
	color: black;
	position: relative;
	/* transition: color .4s ease; */
	opacity: 1;
}

.nav-item.show a:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 0;
	height: 100%;
	/* background-color: white; */
	animation: showWord 1.5s ease;
}

.navigator.white .nav-item a{
	color: white!important;
}
.navigator.white {
	color: black;
}

@keyframes showWord {
	from {
		width: 100%;
	}
	to {
		width: 0;
	}
}

.btn_main {
	width: 210px;
	height: 40px;
	color: var(--main_white);
	font-size: 16px;
	font-weight: 400;
	box-sizing: border-box;
	text-transform: uppercase;
	padding: 0;
	border: none;
	background: linear-gradient(to right, #fa0105 0%, #ff5154 100%);
	cursor: pointer;
}

/* HEADER SECTION */


header {
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}

header::before {
	content: url(../img/bg_header.png);
	z-index: 4;
	position: absolute;
	/* bottom: 0; */
	width: 100vw;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;	
}

.header_grid_container {
	grid-template-columns: 20% 50% 30%;
	padding-top: 40px;
	margin: 0 9vw 6vw 12.5vw;

}


.header_location {
	justify-self: end;
}

.header_location img {
	width: 35px;
	height: 49px;

}

.header_location li,
.header_phone li {
	padding-right: 26px;
}


.header_location ul {
	padding-right: 60px;
}

.header_heading_content {
	position: relative;
	z-index: 99;
	margin-left: 12.5vw;
}

.heading_flex_container {
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	position: relative;
	z-index: 9;
}

.heading_text {
	margin-left: 12vw;
	width: 75vw;
	font-size: 4.9vw;
	color: #DDDDDD;
	font-weight: 600;
	position: relative;
	z-index: 3;
	white-space: nowrap;

}

.heading_text,
.text {
	text-transform: uppercase;
	letter-spacing: .25rem;
	font-family: var(--main_font);
}

.text {
	color: #C4C4C4;
	font-size: 2.5vw;
	font-weight: 300;
}

.discount_text {
	font-family: var(--main_font);
	font-weight: 500;
	font-size: 120%;
	padding-top: 3.683vw;
}

.discount_text_percent {
	color: var(--main_red);
	border: 1px solid var(--main_red);
	padding: 10px 12px;
}

.btn_header {
	padding: 10px 58px;
	background: linear-gradient(to right, #fa0105 0%, #ff5154 100%);
	text-transform: uppercase;
	font-family: var(--main_font);
	color: var(--main_white);
	letter-spacing: .2rem;
	font-weight: 500;
	margin-top: 1.674vw;
}

/* HEADER SECTION END */



/* SECTION ADVENTAGE */

#adventage {
	height: 100vh;
	box-sizing: border-box;
	background-image: url(../img/bg_section_2.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: cover;
	position: relative;
	padding-top: 0; 
	/* bottom: 11px; */
	color: var(--main_white);
}
.over_line{
	position: relative;
	z-index: 99;
}

.vertical_text {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 5%;
	height: 100%;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 4.5vw;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #222;
	box-sizing: border-box;
	z-index: 3;
}
.vertical_text p {
	transform: rotate(-90deg);
}

.vertical_text_center p{
	position: relative;
	top: 10vh;
}


.headihg_advantage {
	position: relative;
	font-weight: 600;
	font-size: 2vw;
	line-height: 3vw;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	padding-top: 4.392vw;
	box-sizing: border-box;
}

.headihg_advantage:before {
	content: '';
	position: absolute;
	bottom: -.5em;
	display: block;
	width: 2vw;
	height: 0.25vw;
	background-color: red;
	z-index: 99999;

}


.adventage_item img {
	width: 6vw;
	padding-top: 2vw;
}

.advantage_grid_container {
	width: 75vw;
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 30px;
	padding-top: 64px;
	text-align: center;
	/* padding-top: 5.371vw; */
}
.adventage_item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.adventage_item h3 {
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
	padding: 1.116vw 0 0.558vw 0;
	font-size: 1vw;
}

.adventage_item p{
	width: 70%;
	font-size: 0.8vw;
}

/* SECTION ADVENTAGE END */


/*------------- Section 3 ---------------*/
/* SECTION CATALOG */

#catalog {
	display: flex;
	justify-content: center;
	height: 100vh;
	font-size: 1em;
	background-image: url(../img/bg_rectangle.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 85%;
}

#catalog .over_line {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	padding: 10vh 0 8vh 0;
}

.catalog-menu {
	width: 70%;
	min-height: 55px;
	height: 2.865vw;
	box-sizing: border-box;
	background-color: #fff;
	border: 1px solid #ddd;
	/* margin-top: 10vh; */
}

.catalog-menu ul {
	display: flex;
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.catalog-menu .catalog-item {
	width: 16.66666666666667%;
	height: 2.865vw;
	min-height: 55px;
	text-align: center;
	line-height: 2.865vw;
	font-style: var(--main_font);
	font-size: 0.729vw;
	font-weight: bold;
	text-transform: uppercase;
	box-sizing: border-box;
	cursor: pointer;
	transition: 1s border;
	position: relative;
}

.catalog-menu .catalog-item.active:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	opacity: 0;
	background-color: red;
	transition: opacity .2s ease;
	box-sizing: border-box;
}

.catalog-menu .catalog-item.active:after {
	opacity: 1;
}

.assortment {
	display: flex;
	width: 100%;
	padding-top: 2vw; 
}

.brand-container,.brand-info  {
	display: flex;
	width: 35%;
}

.brand-container {
	flex-direction: column;
	/* justify-content: flex-end; */
	align-items: flex-end;
}



.brand-info  {
	width: 40%;
}

.brand-info .brand-description {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.brand-info .btn_main {
	display: none;
}

.brand-description h3 {
	margin: 0;
}

.nav-brand {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 47%;
	border: 1px solid #ddd;
	background-color: #fff;
	box-sizing: border-box;
	font-size: 0.729vw;
	text-transform: uppercase;
	font-weight: bold;
}

.nav_brand_slider {
	display: none;
	background-color: white;
}

.nav-brand .brand-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 70%;
	min-height: 100px;
	height: 5.208vw;
	box-sizing: border-box;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
	font-size: 1em;
}

.nav-brand .brand-item:hover .item-title  {
	color: var(--main_black);
}

.nav-brand .brand-item:hover .item-name {
	color: var(--main_red);
} 

.brand-item .item-title , .brand-item .item-name {
	color: #828282;
	transition: color .5s; 
}

.brand-item.active .item-title {
	color: var(--main_black);
}
.brand-item.active .item-name {
	color: var(--main_red);
}

.brand-item.active:before  {
	content: '';
	position: absolute;
	right: -20px;
	border: 10px solid transparent; 
	border-left: 10px solid var(--main_red);
}


.color-slider {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	width: 25%;
	position: relative;
}

#item-slider {
	order: 1;
	margin-bottom: 5%;
}

.color-slider .btn_main {
	order: 2;
}
.slider {
	width: 22vw;
	height: 22vw;
	padding: 10%;
	background-color: #fff;
	position: relative;
	border: 1px solid #ddd;
}


.slickslide {
	height: 200px;
}

.slick-prev, .slick-next {
	position: absolute;
	top: 35%;
	width: 15px;
	height: 15px;
	padding: 0;
	border: none;
	background-color: transparent;
	color: transparent;
	-webkit-user-select: none;
    -moz-user-select: none;
	-ms-user-select: none;
	cursor: pointer;
}

.slick-prev {
	left: 5%;
}

.slick-next {
	right: 5%;
}

.slick-prev:focus, .slick-next:focus {
	outline: none;
}

.slick-prev:before, .slick-next:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	transform: rotate(-45deg);
	visibility: visible;
}

.slick-prev:before {
	border-left: 2px solid var(--main_red);
	border-top: 2px solid var(--main_red);
}

.slick-next:before {
	border-right: 2px solid var(--main_red);
	border-bottom: 2px solid var(--main_red);
}

.slider .slick-dots {
	display: flex;
	justify-content: center;
	margin-top: 10%;
	margin-bottom: 10%;
	padding: 0;
}

.slider .slick-dots li{
	margin-left: 2.5%;
	margin-right: 2.5%;
	position: relative;
}

.slider .slick-dots li > button {
	color: transparent;
	border-radius: 50%;
	border:none;
	width: 12px;
	height: 12px;
	padding: 0;
	box-sizing: border-box;
	position: relative;
	outline: transparent;
}

.slider .slick-dots .slick-active:before {
	content: '';
	position: absolute;
	box-sizing: border-box;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 1px solid red;
	border-color: inherit;
	z-index: 2;
	top: calc(-50% + 8px);
	left: -7px;
}

.color-slider .colorInfo {
	text-align: center;
	font-size: 1.1em;
	font-family: var(--main_font);
	font-weight: 600;
}

.brand-description {
	justify-content: space-between;
}

.brand-description .item-title {
	text-transform: uppercase;
	font-family: var(--main_font);
	color: var(--main_black);
	font-size: 1.25vw;
	line-height: 2em;
}
.brand-description .item-title span {
	color: var(--main_red);
	font-size: 1.7em;
	line-height: 0.9em;
}

.brand-description .slider-wrap {
	width: 80%;
	height: 20%;
}

.brand-description .brand-carusel {
	width: 100%;
	height: 100%;
	padding: 1.5vw 4vw 1.5vw 4vw;
	box-sizing: border-box;
	border: 1px solid #ddd;
	background-color: #fff;
}

.brand-carusel .slick-prev , .brand-carusel .slick-next {
	position: absolute;
	top: calc(50% - 7px);
}

.items-price {
	font-size: 1em;
}

.items-price .price:after {
	content: 'грн/м';
	font-size: 0.8em;
	color: var(--main_black);
	font-weight: 400;
}


.items-price  .price-title {
	text-transform: uppercase;
	font-weight: 700;
}

.brand-description table {
	display: flex;
	width: 85%;
	height: 45%;
	flex-direction: column;
	font-size: 0.833vw;
	line-height: 1.563vw;
}

.brand-description caption {
	position: relative;
	height: 20%;
	font-size: 1.4vw;
	/* line-height: 2em; */
	text-align: start;
	font-weight: 600;
}

.brand-description tbody {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 80%;
	vertical-align: auto;
}

.brand-description tr {
	display: flex;
	justify-content: space-between;
	font-weight: 500;
}

.brand-description tr.hidden {
	display: none;
}

.brand-description td.premium {
	color: red;
	position: relative;
	padding: 0;
}

.brand-description td.premium:after {
	content: url(../img/button_question.svg);
	position: absolute;
	width: 30px; 
	height: 30px;
	transform: translate(25%, -10%);
	box-sizing: border-box;
}

.items-price .price {
	font-size: 1.875vw;
	font-weight: bold;
	color: #C0000E;
}

 tbody tr:first-child{
	background-color: red!important;
}

.info-wrap {
	display: flex;
	/* justify-content: center; */
	align-items: flex-end;
	width: 50%;
	height: 90%;
	font-size: 0.833vw;
  }

#material-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	width: 80%;
	padding: 5%;
	background-color: #fff;
	box-sizing: border-box;
	border: 1px solid #ddd;
}

#material-info h4 {
	color: var(--main_red);
	text-align: center;
}
#material-info p {
	text-align: center;
}


/* [class^="arrow-"] {
	width: 30px;
	height: 30px;
	position: absolute;
	left: 0;
	background-color: blue;
	box-sizing: border-box;
} */

.arrow-r {
	/* position: absolute; */
}

/* .color-slider .slick-prev {
	display: none;
	position: relative;
} */

.vertical_catalog {
	color: #F5F5F5;
}

/* --------------------------------------------------------- */


















.main_menu_items {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 16.6666666667%;
	box-sizing: border-box;
}

.main_menu_items.active {
	border-bottom: 2px solid var(--main_red);
}


.catalog_grid_container {
	width: 75%;
	margin: 0 auto;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
	padding-top: 44px;
}

.horizontal_products ul {
	display: block;
}

.horizontal_products {
	grid-column: 1;
	grid-row: 1 / 4;
	border: 1px solid #DDDDDD;
	box-sizing: border-box;
	background-color: #fff;
	text-align: center;

}

.horizontal_products a {
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #828282;
}

.horizontal_products a.elit {
	font-weight: 200;
	font-size: 14px;
	color: var(--main_red);
}

/*  CATALOG END */


/* SECTION CATALOG PRODUCT */

#catalog_product {
	color: var(--main_black);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
}

.pl {
	margin-left: 12.5vw;
}

.catalog_product_grid_container {
	grid-template-columns: 60% 40%;
	grid-gap: 10px;
	margin-top: 5.58vw;
	box-sizing: border-box;

}

.backgraund_img img{
	position: absolute;
	z-index: 2;
	height: 60vh;
	bottom: 0;

}

.form_catalog_product {
	border: 1px solid #DDDDDD;
	box-sizing: border-box;
	width: 60%;
	text-align: center;
	background-color: #fff;
	position: relative;
	z-index: 10;
}

.form_catalog_product:before, .form_catalog_product:after , .form_calculator:before, .form_calculator:after{
	content: '';
	display: block;
	position: absolute;
	height: 2%;
	background-color:black;
}

.form_catalog_product:before, .form_calculator:before {
	left: 5%;
	bottom: -2%;
	width: 90%;
	background-color: #C4C4C4;
}

.form_catalog_product:after, .form_calculator:after {
	left: 10%;
	bottom: -4%;
	width: 80%;
	background-color: #AAA7A7;
}

.heading_form {
	padding: 1.674vw 0;
	font-weight: 600;
	font-size: 1.042vw;
	text-transform: uppercase;
	text-align: center;
}

.first_form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 0 46.664px 17.92px 46.664px;
}

.first_form label, .second_form {
	width: 100%;
	font-weight: 600;
	font-size: 0.725vw;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	margin-bottom: 0.521vw;
	
}
.first_name, .phone{
	display: flex;
	
}

.phone {
	margin-top: 1.042vw;
}

.first_form input {
	width: 100%;
	height: 2.232vw;
	background: #F4F4F4;
	border: none;
	outline-style: none;
}

.position {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
}

.btn_product, .btn_product_discont{
	width: 60%;
	padding: 12px 15px;
	background: linear-gradient(to right, #fa0105 0%, #ff5154 100%);
	text-transform: uppercase;
	color: var(--main_white);
	letter-spacing: .2rem;
	margin-top: 2.083vw;
	font-size: 14px;
	text-align: center;
	font-weight: 400;
	border: none;
	outline: none;
	cursor: pointer;
}

.saif {
	font-weight: 600;
	font-size: 10px;
	letter-spacing: 0.05em;
	color: #DDDDDD;
	text-transform: uppercase;
	position: relative;
	bottom: 8px;
	padding-left: 10px;
}

.locker,
.seif {
	margin-top: 1.674vw;
}


/* SECTION CATALOG PRODUCT END */



/* SECTION WORK PROCESS */

#work_process {
	height: 100vh;
	background-image: url(../img/bg_wprk_process.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: var(--main_white);
}

.work_process_grid_container {
	position: relative;
	grid-template-columns: 45% 10% 45%;
	grid-gap: 50px;
	width: 80%;
	margin: 0 auto;
	height: 70vh;
	margin-top: 4.464vw;
}
.img_auto img{
	width: 100%;
}
.horizontal_namber {
	padding-left: 30%;
	position: relative;
	top: 4vw;

}

.circle_namber {
	font-weight: 600;
	font-size: 36px;
	letter-spacing: 0.1em;
	border: 2px solid #FA0105;
	padding: 8px 18px;
	border-radius: 50%;
}

.circle_namber:first-child {
	padding: 8px 21px;
}

.horizontal_namber ul {
	flex-direction: column;
	position: relative;
	right: 12px;
	margin-bottom: 28px;
}

.circle {
	width: 6px;
	height: 6px;
	background: linear-gradient(180deg, #FA0105 0%, #FF3336 100%);
	border-radius: 50%;
	margin-top: 6px;
}
.work_process_content {
	bottom: 0;
	top: 10px;
	height: 10vh;
}

.work_process_content h2 {
	font-weight: 600;
	font-size: 1.116vw;
	text-transform: uppercase;
	padding-bottom: 10px;
	padding-left: 15px;
}

.work_process_content p {
	padding-bottom: 30px;
	width: 76%;
	font-weight: 300;
	font-size: 14px;
	line-height: 30px;
}
.btn_work_process {
	position: absolute;
	grid-column: 3;
	bottom: 5%;
}
.btn_work_process a{
	padding: 12px 60px;
	background: linear-gradient(to right, #fa0105 0%, #ff5154 100%);
	text-transform: uppercase;
	font-family: var(--main_font);
	color: var(--main_white);
	letter-spacing: .2rem;
	font-weight: 500;
}

/* SECTION WORK PROCESS END */

/* SECTION GALLERY END */

#gallery {
	height: 100vh;
	background-image: url(../img/bush.png);
	background-repeat: no-repeat;
	background-position: bottom;
	color: var(--main_black);
	position: relative;
	z-index: 50;
}

.gallery_text {
	font-weight: 600;
	font-size: 1.116vw;
	text-transform: uppercase;
	padding-top: 2.511vw;
}

.gallery_grid_container {
	grid-template-columns: repeat(6, 1fr);
	width: 90%;
	height: 50vh;
	margin: 0 auto;
	padding-top: 2.232vw;
	/* overflow: hidden; */
	box-sizing: border-box
}

.gallery_foto1 {
	background-image: url(../img/dom1.png);
	grid-column: 2/4;
	grid-row: 1/3;
}

.gallery_foto2 {
	background-image: url(../img/3.png);
}

.gallery_foto3 {
	background-image: url(../img/dom2.png);
}

.gallery_foto4 {
	grid-column: 4 /5;
	background-image: url(../img/dom4.png);
	background-color: #000;
}

.gallery_foto5 {
	background-image: url(../img/dom5.png);
}

.gallery_foto1,
.gallery_foto2,
.gallery_foto3,
.gallery_foto4,
.gallery_foto5 {
	background-position: center;
	background-size: cover;
	min-width: 22vh;
	box-sizing: border-box;
}

.tape_left {
	grid-row: 1 / 3;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
#square {
	width: 100px;
	height: 130px;
	background: #DDDDDD;
}

#parallelogram,
#parallelogram_left {
	width: 70px;
	height: 130px;
	background: linear-gradient(90deg, #FA0105 0%, #FF5154 99.83%);
}

#parallelogram {
	transform: skew(0, 40deg);
	position: relative;
	left: 70px;
	top: 30px;
}

#parallelogram_left {
	transform: skew(0, 40deg);
	position: relative;
	right: 70px;
	bottom: 30px;
}

.tape_right {
	grid-column: 6;
	grid-row: 1/3;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.foto {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	font-size: 18px;
	position: relative;
	text-transform: uppercase;
	color: var(--main_white);
	text-align: center;
	
}

.foto:before {
	content: '';
	position: absolute;
	display: block;
	background-color: rgba(0, 0, 0, 0.4);
	transition: opacity .5s ease;
	opacity: 0;
	width: 100%;
	height: 100%;
	line-height: 1.5rem;
	
}

.foto:hover:before {
	opacity: 1;
}

.foto span {
	position: relative;
	transition: opacity .4s;
	opacity: 0;
	font-size: .7vw;
	line-height: 1.5rem;
	
}

.foto:hover>span {
	opacity: 1;
}

.foto:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

/* SECTION GALLERY END */



/* SECTION REVIEWS */

#reviews{
	height: 100vh;
	background-image: url(../img/bg_section_2.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: cover;
	color: var(--main_white);
}
.reviews_grid_container{
	height: 60vh;
	width: 70%;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 20px;
	margin: 0 auto;
	padding-top: 7.254vw;
	box-sizing: border-box;	
}
.reviews_grid_container video{
	width: 100%;
	height: 100%;
}
.video:first-child{
	grid-column: 1/3;
	grid-row: 1/3;
	
}


.video, iframe {
	width: 100%;
	height: 100%;
}

/* SECTION REVIEWS END */



/* SECTION CULCULATOR  */

#calculator{
	height: 100vh;
	background-image: url(../img/calculator.png);
	background-repeat: no-repeat;
	background-position: right ;
	background-size: cover;
	color: var(--main_black);
	box-sizing: border-box;
}
#calculator .headihg_advantage{
	width: 50%;
}
.calculator_grid_container{
	grid-template-columns: repeat(2, 1fr);
	width: 75%;
	margin: 0 auto;
	grid-gap: 200px
}
.calculator_itoms{
	font-weight: 600;
	font-size: 1.116vw;
	line-height: 1.618vw;
	display: flex;
	text-transform: uppercase;
	color: #000000;
	padding-top: 3.683vw;
}
.calculator_itoms img{
	height: 5vw;
}

.icons{
	padding-top: 100px;
}
.itom_text{
	padding-left: 30px;
	line-height: 1.6vw;
}
.content_form{
	position: relative;
	margin: 0;
}
.form_calculator{
	position: relative;
	width: 80% ;
	background-color: #fff;
	border: 1px solid #ddd;
	
}

.form_field .btn_product {
	width: auto;
	padding: 12px 30px;
}
.calculator_text{
	line-height: 1.8rem;
	font-size: 1.004vw;
	margin: 0 10%;
}
.second_form{
	grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.second_form input, select{
	width: 100%;
	height: 2.232vw;
	background: #F4F4F4;
	border: none;
	outline-style: none;
	text-align: left;
	margin: 0 auto;	
}
.wrapper_form{
	width: 80%;
	margin: 0 auto;
}
.full_width {
	grid-column: 1 / 3; 
}
.full_width:last-child{
	justify-self: center;	  
}

.form_field label{
	display: flex;
	padding-bottom: 10px;
}
.second_form option {
	font-size: 18px
}
.text_center{
	text-align: center;
}

.second_form .btn_product{
	margin-top: 1.451vw;
	font-weight: 600;
	font-weight: normal;
	font-size: 14px;
}


#calculator .locker, #calculator .seif{
	margin: 0;
}
#calculator .text_center{
	margin: 0;
	padding: 10px 0;
}

/* SECTION CULCULATOR END */


/* FOOTER */

#footer{
height: 100vh;
background-image: url(../img/bg_footer.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
color: #fff;
position: relative;
}
footer .headihg_advantage{
	padding-top: 2.79vw;
	box-sizing: border-box;
}

.footer_text{
	width: 60%;
	padding-top: 45px;
	font-weight: 600;
	font-size: 1.116vw;
	line-height: 29px;
	text-transform: uppercase;
}

.footer_grid_container{
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	width: 75%;
	margin: 0 auto;
	padding-top: 50px;
}
.img_box{
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	margin: 0 auto;
	height: 22vh;;
}
.img_item img{
	width: 16vw;
	min-height: 22vh;
}

.contact_info{
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
	margin: 0 auto;
}

#map {
	width: 75vw;
	min-height: 36vh;
}

.contact_item:first-child{
	grid-column: 1 /4;
}
.contact_item:nth-child(2){
	grid-column: 1 /4;
}

.contact_item img{ 
width: 30px;
height: 30px;
}
.contact_item img.map{ 
	width: 100%;
	height: 100%;
}

.item_wrapper{
	padding: 20px 0;
	display: flex;
	justify-content: center;
}
.item_wrapper span{
	padding-left: 20px;
	background: linear-gradient(90deg, #FA0105 0%, #FF5154 99.83%);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 0.1em;
}
.center{
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-size: .8vw;
}
footer span{
	line-height: 1.5rem;
}
#map{
	width: 100%;
	height: 16vw;
}



/* FOOTER END */


.up_svg {
	position: absolute;
	 top: -5%;
	 left: -7%;
	}
.down_svg {
	position: absolute;
	right: -4%;
	bottom: -6.4%;
	z-index: 14;
}
.down_svg_second {
	position: absolute;
	right: -4%;
	bottom: -5.8%;
	z-index: 14;
}
.up_svg_second{
	position: absolute;
	top: -3.2%;
	left: -7%;
}

.popup, #gratitude{
	display: none;
	width: 25%;
	position: absolute;
	left: 37.5%;
	top: 27.5%;
	z-index: 999;
  box-sizing: border-box;
  text-align: center;
	background-color: #fff;
	text-transform: uppercase;
	opacity: 0;
	transition: opacity .3s ease;
}

#gratitude {
	font-size: 18px;
	font-weight: 600; 
}

#gratitude img {
	margin: 20% 0 5% 0;
}

#gratitude h3 {
	font-size: 1.3em;
	margin-bottom: 2.5%;
}

#gratitude p {
	font-size: .8em;
}

#gratitude.active {
	display: flex;
	flex-direction: column;
	align-items: center;
	opacity: 1;
}
.popup.active {
	opacity: 1;
	display: block;
}
.popup .form_catalog_product:after, .popup .form_calculator:after,
.popup .form_catalog_product:before, .popup .form_calculator:before{
	display: none;
}
.popup .content_form, .popup .form_catalog_product{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.popup .content_form{
	height: 100vh;
}

.popup .form_catalog_product{
	width: 25%;	
}
.button_close {
	width: 6%;
	height: 6%;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	}
	.button_close:before, .button_close:after {
	position: absolute;
	content: ' ';
	height: 20px;
	width: 3px;
	background-color: #FA0105;
	}
	.button_close:before {
	transform: rotate(45deg);
	}
	.button_close:after {
	transform: rotate(-45deg);
	}
	.btn_product_discont{
		font-size: 12px;
	}
	.popup .locker, .seif {
		margin-top: 0vw;
		padding-top: 26px;
}
#first_name-error, #phone-error, .error {
	text-decoration: none;
	color: #FA0105;
	font-weight: 400;
	font-size: 10px;
	line-height: 1rem;	
}
.firstNname-error{
	font-size: 10px;
}


